<p style="background-color:orange;font-family:newtimeroman;font-size:200%;color:white;text-align:center;border-radius:20px 20px;"><b>EDA Project</b></p>

<b>Contains:</b>
<ul>
<li><a href="#import-library">Importing Libraries</a></li>
<li><a href="#loading-dataset">Loading The Dataset</a></li>
<li><a href="#understanding-dataset">Understanding The Dataset</a></li>
<li><a href="#organizing-columns">Organizing Columns</a></li>
<li><a href="#nan-values">NaN Values</a></li>
<li><a href="#data-visualization">Data Visualization</a></li>
</ul>

<a id='import-library'></a>
# <font color='firebrick'> <b>Importing Libraries</b><font color='black'>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import missingno as msno
import plotly.express as px

from skimpy import skim

import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

<a id='loading-dataset'></a>
# <font color='firebrick'> <b>Loading The Dataset</b><font color='black'>

In [2]:
df0 = pd.read_csv("synthetic_dataset_with_missing.csv")
df = df0.copy()

In [3]:
df.head()

,User ID,Age,Gender,Country,Purchase Amount,Purchase Date,Product Category
0,1,56.0,Female,USA,331.79,2021-11-21,Sports
1,2,69.0,Male,Australia,335.72,2022-03-05,Home & Kitchen
2,3,46.0,NaN,Germany,493.18,NaN,Books
3,4,32.0,Male,Germany,80.97,2023-06-08,Sports
4,5,60.0,Female,UK,21.75,NaN,Beauty

<a id='understanding-dataset'></a>
# <font color='firebrick'> <b>Understanding The Dataset</b><font color='black'>

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User ID           15000 non-null  int64
 1   Age               13500 non-null  float64
 2   Gender            14250 non-null  object
 3   Country           13800 non-null  object
 4   Purchase Amount   13200 non-null  float64
 5   Purchase Date     13950 non-null  object
 6   Product Category  14100 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 820.4+ KB

In [5]:
df.isnull().sum()

User ID                0
Age                 1500
Gender               750
Country             1200
Purchase Amount     1800
Purchase Date       1050
Product Category     900
dtype: int64

In [6]:
skim(df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 15000  │ │ string      │ 4     │                                                          │
│ │ Number of columns │ 7      │ │ float64     │ 2     │                                                          │
│ └───────────────────┴────────┘ │ int32       │ 1     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━━┓  │
│ ┃ column_name        ┃ NA    ┃ NA %  ┃ mean   ┃ sd     ┃ p0    ┃ p25    ┃ p50    ┃ p75    ┃ p100   ┃ hist    ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━━┩  │
│ │ User ID            │     0 │     0 │   7500 │   4330 │     1 │   3751 │   7500 │  11250 │  15000 │ ▇▇▇▇▇▇  │  │
│ │ Age                │  1500 │    10 │   43.4 │  14.93 │    18 │     31 │     43 │     56 │     69 │ ▇▇▇▇▇▇  │  │
│ │ Purchase Amount    │  1800 │    12 │  253.2 │  143.1 │  5.05 │  130.3 │  253.6 │  378.6 │  499.9 │ ▇▇▇▇▇▇  │  │
│ └────────────────────┴───────┴───────┴────────┴────────┴───────┴────────┴────────┴────────┴────────┴─────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name                     ┃ NA        ┃ NA %      ┃ words per row             ┃ total words          ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ Gender                          │       750 │         5 │                      0.95 │                14250 │  │
│ │ Country                         │      1200 │         8 │                      0.92 │                13800 │  │
│ │ Purchase Date                   │      1050 │         7 │                      0.93 │                13950 │  │
│ │ Product Category                │       900 │         6 │                       1.3 │                18818 │  │
│ └─────────────────────────────────┴───────────┴───────────┴───────────────────────────┴──────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

In [7]:
df.duplicated().sum()

0

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
User ID,15000.0,7500.50000,4330.271354,1.00,3750.750,7500.500,11250.250,15000.00
Age,13500.0,43.39600,14.927082,18.00,31.000,43.000,56.000,69.00
Purchase Amount,13200.0,253.21772,143.113919,5.05,130.335,253.645,378.585,499.95

In [9]:
df.describe(include= "object").T

                  count unique         top  freq
Gender            14250      3      Female  4818
Country           13800      6      France  2444
Purchase Date     13950   1460  2022-04-28    26
Product Category  14100      6    Clothing  2444

In [10]:
df.columns

Index(['User ID', 'Age', 'Gender', 'Country', 'Purchase Amount',
       'Purchase Date', 'Product Category'],
      dtype='object')

In [11]:
df.columns = df.columns.str.lower()

In [12]:
df.columns = ['user id', 'age', 'gender', 'country', 'purchase_amount',
       'purchase_date', 'category']

<a id='organizing-columns'></a>
# <font color='firebrick'> <b>Organizing Columns</b><font color='black'>

In [13]:
df.age.dtype

dtype('float64')

In [14]:
df.gender.unique()

array(['Female', 'Male', nan, 'Other'], dtype=object)

In [15]:
df.gender.isnull().sum()

750

In [16]:
df.country.isnull().sum()

1200

In [17]:
df.purchase_amount.isnull().sum()

1800

In [18]:
df.purchase_date.isnull().sum()

1050

In [19]:
df.category.isnull().sum()

900

<a id='nan-values'></a>
# <font color='firebrick'> <b>NaN Values</b><font color='black'>

In [20]:
countries = df.country.value_counts().index

In [21]:
df['country'] = df['country'].apply(lambda x: x if pd.notna(x) else np.random.choice(countries))

In [22]:
df.isnull().sum()

user id               0
age                1500
gender              750
country               0
purchase_amount    1800
purchase_date      1050
category            900
dtype: int64

In [23]:
df['category'] = df['category'].fillna(df.groupby('country')['category'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None))

In [24]:
df.isnull().sum()

user id               0
age                1500
gender              750
country               0
purchase_amount    1800
purchase_date      1050
category              0
dtype: int64

<a id='data-visualization'></a>
# <font color='firebrick'> <b>Data Visualization</b><font color='black'>

<p style="background-color:firebrick;font-family:newtimeroman;font-size:200%;color:white;text-align:center;border-radius:20px 20px;"><b>THANK YOU!</b></p>